.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/android-http-library/build
/android-widget-library/src/androidTest
/android-widget-library/src/test
/android-utils-library/src/androidTest
/android-utils-library/src/test
/Android-Develop-Aar.iml
/gradle.properties
/gradlew
/gradlew.bat
/gradle
/.idea
/android-http-library/android-http-library.iml
/android-utils-library/android-utils-library.iml
/android-widget-library/android-widget-library.iml
/app/app.iml
/android-utils-library/build
